li {
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
}

body {
    background-color: #fff8e1;
    color: #4e342e;
    font-family: 'Playfair Display', serif;
}

h3 {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

#postcode {
    text-align: center;
    font-size: 16px;
}

i {
    margin-right: 20px;
}

.button {
    background-color: #4e342e;
    color: #fff8e1;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2%;
}

.error {
    background-color: #b71c1c;
    color: #ffebee;
    text-align: center;
    line-height: 2.5;
    opacity: 0.6;
}
